body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.video-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(20px);
}

.content {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.logo {
    width: 175px;
    position: relative;
    top: 0px;
    filter: drop-shadow(0 0 15px rgba(255, 255, 255, 0.7));
}

button {
    background: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 15px;
    border: none;
    border-radius: 10px;
    cursor: default;
}

*:focus {
    outline: none;
}
